<?xml version="1.0" encoding="UTF-8"?>
<Configuration> 
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%d{yyyy-MMM-dd HH:mm:ss} [%t] %-5level %-50c{1.} - %msg%n" />
        </Console>
 
        <File name="File" fileName="D:/Vanderlei/logs/BankCheckController.log">
            <PatternLayout
                pattern="%d{yyyy-MMM-dd HH:mm:ss} [%t] %-5level %-50c{1.} - %msg%n" />
        </File>
        <RollingFile name="RollingFileAppender"
                     fileName="logging-demo-app.log"
                     filePattern="logging-demo-app-%d{dd-MM-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <!-- rollover on startup, daily and when the file reaches
                    5 KiloBytes -->
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy
                        size="5 KB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
    </Appenders>
 
    <Loggers>
        <Logger name="com.abhishek.log4j2" level="debug" additivity="false">
            <AppenderRef ref="LogToRollingFile"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Root>
        
    </Loggers>
</Configuration>